/*--dark-purple: #241623ff;
--pink-lavender: #d1b1c8ff;
--ming: #326771ff;
--blizzard-blue: #a9e4efff;
--aero-blue: #c7efcfff;*/

* {
/*    font-family: Rubik, Avenir, Helvetica, Arial, sans-serif;*/
    background-color: transparent;
    padding: 0;
    margin: 0;
}